<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home page of Shop</title>
</head>

<body>
   <div>
      <h1 style="text-align: center; margin-top: 200px;">
         Welcome to the Shoping App.</h1><br>
      <h3 style="text-align: center; margin-top: 20px;">
         <p> How can I help you</p>
         <p style="margin: auto; padding: 10px;">
            <button><a href="/product" style="text-decoration: none; font-size: large;">All Product</a></button>
            <button><a href="/products/new" style="text-decoration: none; font-size: large;">New Product</a></button>
         </p>
      </h3>
   </div>
</body>

</html>